/* 폰트 */
body {font-family: 'Noto Sans KR', sans-serif !important;}
.barunpenR {font-family: 'NanumBarunpenR';}
.notosans{font-family: 'Noto Sans KR', sans-serif;}

/* 헤더 */
.header {
    width:1250px;
    padding:30px;
    margin:0 auto;
}

#logo{
    float:left;
}

/* 메뉴 */
.mainMenu{
    float:left;
}

.mainMenu .menu-item{
    display: inline-block;
    margin:0 20px;
    font-weight:800;
    font-size: 1.6rem;
    line-height: 32px;
}

.depth {display: none;}


.menuWrap {float:right;}

/* member */
.member, .search, #allMenu{
    display: inline-block;
}

.member li {
    font-size: 1.3rem;
    color:#888;
    display: inline-block;
    line-height: 32px;
} 

.member li:not(:last-child)::after{
    content: " · ";
}

/* 통합검색 */
.search{ margin-left:20px; }

.search h2 a{
    display: block;
}
.search h2 img{
    line-height: 32px;
    vertical-align: middle;
}
.search form {display: none;}

/*전체메뉴 */
#allMenu{ margin-left:20px; }

#allMenu h2 a{
    display: block;
}
#allMenu h2 img{
    line-height: 32px;
    vertical-align: middle;
}

.allMenu {display: none;}

/*슬라이드 이미지*/
.mainImage {
    text-align: center;
    background: url(../img/main_18.gif) no-repeat 50% 100%;
    height:740px;
    padding-top:50px;
}

.mainImage p{
    font-size:5.0rem;
    color:#fff;
}
.mainImage h2 {
    color:#fff;
    margin-bottom: 20px;
    font-size:4.0rem;

}

.underBar{
    background: url(../img/underbar_bg.png) repeat-x center bottom;
    max-width: 550px;
    margin:0 auto;
    background-size:100% 25px;
}

.mainImage span{
    color:#ffc000;
}

.mainImage img{
    margin-top:20px;
}

/* section02 */

.introduce, .about {
    margin: 0 auto;
    padding:50px 0;
    text-align: center;
}

.introduce{
    background:url(/img/main_23.gif) no-repeat center;
}
.introduce h2, .about h2 {
    font-size:3.5rem;
}

.interoduceText {
    color:#7f7f7f;
    line-height:2;
}

.interoduceList{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
    width:1250px;
    margin:50px auto 0;
}

.box{
    width:25%;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    padding:20px 0;
}

.box h3{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top:20px;
    order:1;
}

.box p img{
    order:-1;
}

.boxText{
    order:2;
    padding:20px;
}

.box:hover{
    transition:0.3s;
}

.box1:hover{
    background:#dfe38b;
    color:#fff;
}

.box2:hover{
    background: #ff759a;
    color:#fff;
}

.box3:hover{
    background: #9fdcd7;
    color:#fff;
}

.box4:hover{
    background: #dfe38b;
    color:#fff;
}

.footer{
    background:#1e203c;
    color:#eee;
    text-align: center;
    padding:50px 0 60px;
}

.address{
    font-style:normal;
}