.barunpenR {
  font-family: 'NanumBarunpenR';
}

.swiper-container {
  max-width: 1920px;
}

.swiper-slide {
  background: url(../img/main_25.gif) no-repeat;
}

.child-park {
  color: #fff;
  display:flex;  
}

.child-park-img {
  border: 1px dashed #744d71;
  padding: 3%;
  border-radius: 5px;
}

.child-park-heading {
  font-size: 48px;
}

.child-park-heading,
.child-park-detail {
  width: 600px;
}

.child-park-more {
  padding: 15px 55px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.child-park-heading,
.child-park-detail,
.child-park-more {
}