/* 폰트 */
body {font-family: 'Noto Sans KR', sans-serif !important; transition: 0.3s ease-in-out;}
.barunpenR {font-family: 'NanumBarunpenR';}
.notosans{font-family: 'Noto Sans KR', sans-serif;}

/* 헤더 */
.header {
    width:1300px;
    padding:30px;
    margin:0 auto;
}

#logo{
    float:left;
}

/* 메뉴 */
.mainMenu{
    float:left;
}

.mainMenu .menu-item{
    display: inline-block;
    margin:0 20px;
    font-weight:800;
    font-size: 1.6rem;
    line-height: 32px;
    position: relative;
}


.mainMenu .menu-item a{
    padding:10px;
}
.mainMenu .menu-item:hover{
    font-weight: bold;
}

.mainMenu>li:last-child {
    display: none;
}

.mainMenu .menu-item:hover .mainDepth {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mobileShow {
    display:none;
}

.mainDepth {
    background:rgba(255, 255, 255, 0.7);
    position: absolute;
    top:30px; left:0;
    width:200px;
    font-weight: normal;
    padding:10px 10px 10px 25px;
    font-size: 1.3rem;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
}

.mainDepth li{
    position: relative;
}

.mainDepth li:hover{
    font-weight: bold;
}

.mainDepth li::before{
    content: " ";
    background:#fa7c06;
    display: inline-block;
    width: 5px;
    height: 5px;
    position: absolute;
    top:13px; left:-10px;
}
.menuWrap {
    float:right;
}

/* member */
.member, .search, #allMenu{
    display: inline-block;
}

.member li {
    font-size: 1.3rem;
    color:#888;
    display: inline-block;
    line-height: 32px;
} 

.member li:not(:last-child)::after{
    content: " · ";
}

/* 통합검색 */
.search{
    margin-left:20px;
}

.search a{
    display: block;
}
.search img{
    line-height: 32px;
    vertical-align: middle;
}
.search form {
    display: none;
}


/*전체메뉴 */
#allMenu{
    margin-left:20px;
    position: relative;
}

#allmenudown {
    background:#eee;
    padding:30px;
}
.all-menu-item{
    width:200px;
    font-weight: 800;
}

#allMenu .dropbtn {
    border: 0;
    padding:0;
    margin:0;
    cursor: pointer;
    width:25px;
    height:19px;
    background:url(/img/main_09_off.gif);
    overflow: hidden;
    padding-left:25px;
    display: inline-block;
    vertical-align: middle;
}

#allMenu img{
    line-height: 32px;
    vertical-align: middle;
}
.allMenuContents {
    display: none;
    overflow: auto;
    z-index: 1;
    position: absolute;
    top:59px; right:0;
}

.allMenu{
    display: flex;
    justify-content: space-evenly;
    line-height: 1.6;
    font-size: 1.4rem;
    width:1180px;
}

.depth1>li{
    margin:5px 0;
}

.depth{ font-weight: normal;}

.depth2 li::before{
    content:" - ";
}


.show {display: block;}

/*슬라이드 이미지*/
.mainImage {
    text-align: center;
    background: url(../img/main_18.gif) no-repeat 50% 100%;
    height:740px;
    padding-top:50px;
}

.mainImage p{
    font-size:5.0rem;
    color:#fff;
}
.mainImage h2 {
    color:#fff;
    margin-bottom: 20px;
    font-size:4.0rem;
}

.underBar{
    background: url(../img/underbar_bg.png) repeat-x center bottom;
    max-width: 550px;
    margin:0 auto;
    background-size:100% 25px;
}

.mainImage span{
    color:#ffc000;
}

.mainImage img{
    margin-top:20px;
}

/* section02 */

.introduce {
    margin: 0 auto;
    padding:150px 0;
    text-align: center;
}

.introduce{
    background:url(/img/main_23.gif) no-repeat center;
}
.introduce h2, .about h2 {
    font-size:4rem;
    font-weight: 800;
    color:#32355d;
}

.interoduceText, .aboutText {
    color:#7f7f7f;
    line-height:1.5;
    width:25%;
    margin:15px auto;
}

.interoduceList{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
    max-width:1300px;
    margin:50px auto 0;
    
    flex-wrap: wrap;
}

.box{
    width:25%;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    padding:20px 0;
}

.box a {
    display:inline-block; width:100%; height:100%;
}

.box h3{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top:20px;
    order:1;
}

.box p img{
    order:-1;
}

.boxText{
    order:2;
    padding:20px;
}

.box:hover{
    transition:0.3s;
}

.box1:hover{
    background:#dfe38b;
    color:#fff;
}

.box2:hover{
    background: #ff759a;
    color:#fff;
}

.box3:hover{
    background: #9fdcd7;
    color:#fff;
}

.box4:hover{
    background: #dfe38b;
    color:#fff;
}

/* about */

.about {
    background: url(../img/main_24.gif) no-repeat center;
    padding:150px 0;
    text-align: center;
}

.about .aboutList {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    max-width:1300px;
    margin:0 auto;
    flex-wrap: wrap;
}

.about .aboutList li {
    width:32%;
    color:#fff;
    padding:50px;
    height: 352px;
    width:32%;
    position: relative;
    /* display: inline-block; */
}


.about .aboutList li h3{
    font-size:3.0rem;
    font-weight: 800;
    width:70%;
    margin:0 auto 30px;
    word-break:keep-all;
}

.textOverFlow{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.aboutBtn{
    border:1px solid #fff;
    border-radius: 5px;
    padding:10px 50px;
    display: inline-block;
    margin-top:30px;
    /* position: absolute;
    bottom:50px;
    right:0; */
}

.aboutTextBox {
    height:200px;
}

.aboutListItem1{
    background:#ff759a;
}

.about .aboutList .aboutListItem1:hover .aboutBtn{
    background: #fff;
    color:#ff759a;
    transition: 0.3s ease-in-out;
}

.aboutListItem2{
    background:#9fdcd7;
}

.about .aboutList .aboutListItem2:hover .aboutBtn{
    background: #fff;
    color:#9fdcd7;
    transition: 0.3s ease-in-out;
}

.aboutListItem3{

    background:#d9dd80 url(../img/mf2_bg3.png) no-repeat center center;
}

.about .aboutList .aboutListItem3:hover .aboutBtn{
    background: #fff;
    color:#d9dd80;
    transition: 0.3s ease-in-out;
}

.about .aboutList .line1{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.about .aboutList .line2{
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}


.about .aboutList .line1, 
.about .aboutList .line2{
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
    -webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
    transition: opacity 0.75s, transform 0.75s;
}

.about .aboutList li:hover .line1, .about .aboutList  li:hover .line2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.promise .promise-list {
    flex-wrap: wrap;
}

.promise-list li {
    width:25%;
}

.footer{
    background:#1e203c;
    color:#eee;
    text-align: center;
    padding:50px 0 60px;
}

.footerMenu li {
    display: inline-block;
    font-size:1.6rem;
    margin-bottom:20px;
    color:#eee;
}

.footerMenu li:not(:last-child)::after{
    content:" │ ";
}

.footerMenu li:first-child{
    font-weight: 800;
    color:#fff;
}

.address{
    font-style:normal;
    color:#888;
}

.copyright {
    color:#888;
}



@media screen and (max-width:1299px){
    .about .aboutList {
        padding: 0 20px;
    }

    .about{
        padding:100px;
    }

    .box{
      width:50%;
    }
  
    /* .about .aboutList li{
      width:50%;
    } */
   
    .news ul li{
      width:100%;
    }
    .news ul li:last-child{
      display: none;
    }
    .interoduceText, .aboutText {
      width:100%;
    }
    .menuWrap {display: none;}

    .promise-list li {
        width:50%;
    }
  }

  @media screen and (max-width:799px){

    .box{
      width:80%;
    }
    .about .aboutList li{
      width:100%;
      margin-top:20px;
    }
    .about{
        padding:0px;
    }

    .promise-list li {
        width:100%;
    }

   
    .news ul{
      width:100% !important;
    }
  
    .news ul li{
      width:100%;
    }
  
    .news h2, .news ul li{
        padding:0 !important;
    }
    time {
        margin-left:0 auto;
    }
  
    .news-more {
        top:65px !important;
    }
  }