.barunpenR {font-family: 'NanumBarunpenR';}

.swiper-container {
  width: 100vw;
}

.swiper-slide{
  padding:125px 0;
  background: url(../img/main_25.gif);
  margin:0 auto;
}

.child-park{
  color:#fff;
}

.child-park-heading, .child-park-detail{
  width:600px;
}

.child-park-img{
  border:1px dashed #744d71;
  padding: 3%;
  border-radius: 5px;
}

.child-park-heading{
  font-size:48px;
}

.child-park-more{
  padding: 15px 55px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top:20px;
  display:inline-block;
}